@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<OnlyAti.Blazor.HoverPopup.HoverPopUp JSRuntime="js">
    <NormalDisplay>
        <div style="width: 250px; height: 250px; background-color: red;"></div>
    </NormalDisplay>
    <PopupDisplay>
        <div style="width: 400px; height: 400px; background-color: black; opacity: 0.7;"></div>
    </PopupDisplay>
</OnlyAti.Blazor.HoverPopup.HoverPopUp>

<OnlyAti.Blazor.HoverPopup.HoverPopUp JSRuntime="js">
    <NormalDisplay>
        <div style="width: 250px; height: 100px; background-color: red;"></div>
    </NormalDisplay>
    <PopupDisplay>
        <div style="width: 300px; height: 400px; background-color: black; opacity: 0.7;"></div>
    </PopupDisplay>
</OnlyAti.Blazor.HoverPopup.HoverPopUp>

<OnlyAti.Blazor.HoverPopup.HoverPopUp JSRuntime="js">
    <NormalDisplay>
        <div style="width: 250px; height: 100px; background-color: red;"></div>
    </NormalDisplay>
    <PopupDisplay>
        <div style="display: inline-block; width: 100px; height: 75px; background-color: black; opacity: 0.7;"></div>
    </PopupDisplay>
</OnlyAti.Blazor.HoverPopup.HoverPopUp>